body {
	background-image: url("../Images/Background.jpg");
	font_family: Algerian,Arial,Helvetica,sans-serif;
	color: Grey;
	font-size: 20px;
	line-height: 1.7em;
	margin: 0
	padding: 0:
}
p{font-family:Arial

}
a:hover{
	color: purple;
}
a{
	color:red;
}

h2{
	font-family:Arial;
	font-size: 8
}



